body{
  background-image: url("farleigh.JPG");
  background-image: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
body{
  font-family: 'Permanent Marker', cursive;
}
.heading {
  text-align: center;
}
.heading {
  font-size: 40px;
  color: #190F0F;
  font-weight: bold;
}
.info {
  font-size: 40px;
  color: #190F0F;
  font-weight:normal;
}
.writing {
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
  color: #D1D3A1;
  font-weight: normal;
  text-align: center;
  list-style: none;
}
.jobad {
    text-align: center;
}
.joblink {
  text-align: center;
  color: #F5FF00;
  font-family: 'Pacifico', cursive;
  list-style: none;
  text-decoration: none;
}

.joblink a {
  text-align: center;
  color: #F5FF00;
  font-family: 'Pacifico', cursive;
  list-style: none;
  text-decoration: none;
}

.joblink a:hover {
  color: #FFFFFF;
  text-decoration: none;
}
div {
  font-size: 40px;
  color: #190F0F;
  font-weight:normal;
}
ul {
margin-left: auto;
}

ul li {
  list-style: none;
  display: inline-block;
  float: left;
  line-height: 100px;

}

ul li a {
text-decoration: none;
color: #F5FF00;
font-family: 'Pacifico', cursive;
padding: 0 20px;
}
ul li a:hover {
text-decoration: none;
color: #FFFFFF;
}

.img-poodles {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
